* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#modalHeader {
  text-align: center;
  background-color: #800020;
  color: goldenrod;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: xx-large;
  border: solid black;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

#filmDisplay {
  text-align: center;
  background-color: #800020;
  color: goldenrod;
  font-size: x-large;
  border: solid rgb(0, 0, 0);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  flex-wrap: wrap;
  width: 100%;
 
}

audio {
  width: 300px;
  text-align: center;

}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  height: 70%;
  
}
#charList {
  /* margin-bottom: 500px;
    margin-left: 200; */
  border-color: tomato;
  border-width: 1.3rem;
  border-radius: 30px;
  font-family: fantasy;
  font-size: x-large;
  font-weight: 600;
}

#filmList {
  border-color: tomato;
  border-width: 1.3rem;
  border-radius: 30px;
  font-family: fantasy;
  font-size: x-large;
  font-weight: 600;
 
}

/* for future development */
.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

::placeholder {
  color: #cac7ff;
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.wrapper {
  background: url("./images/hg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  html {
    background: url("./images/hg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #filmList{
    width: 85%;
    font-size: unset;
  }

  #charList{
    font-size: unset;
  }
}
